* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #1c1c1c;
    padding: 3rem;
    padding-top: 0;
    border-radius: 8px;
    box-shadow: 1px 4px 12px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    width: 450px;
}

.login-box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.logo {
    background-image: url('../assets/image/logo/logo.png');
    background-size: cover;
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.login-box p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    color: #aaa;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;

}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    height: 45px;
    padding: 0.5rem;
    margin: 0;
    border: 1px solid #232323;
    border-radius: 4px;
    background-color: #121212;
    color: white;
    padding-left: 30px;
}

.input-email {
    position: relative;
}

.input-password {
    position: relative;
}

.mail {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.lock {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.login-btn {
    background-color: #007bff;
    color: white;
    padding: 0.7rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.login-btn:hover {
    background-color: #0056b3;
}

.box-or {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    gap: 0.5rem;
}

.box-or div {
    width: 100%;
    border: #333 solid 0.1px;
}

.or {
    margin: 1rem 0;
    color: #aaa;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.social-btn {
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.5rem;
    padding: 0.2rem;
    cursor: pointer;
    width: 40%;
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.social-btn:hover {
    background-color: #555;
}

.social-btn.apple::before {}

.social-btn.google::before {}

.social-btn.twitter::before {}