* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #1c1c1c;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    width: 400px;
}

.login-box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.logo {
    background-image: url('../assets/image/logo.png');
    background-size: cover;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    margin-left: 70px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 1rem;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    color: #aaa;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #222;
    color: white;
}

.login-btn {
    background-color: #007bff;
    color: white;
    padding: 0.7rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.login-btn:hover {
    background-color: #0056b3;
}

.or {
    margin: 1rem 0;
    color: #aaa;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
}

.social-btn {
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 30%;
}

.social-btn:hover {
    background-color: #555;
}

.social-btn.apple::before {
    content: "\f8ff";
    /* Icone Apple */
    font-family: 'Font Awesome 5 Free';
    /* Certifique-se de ter o Font Awesome incluído no projeto */
    font-weight: 900;
}

.social-btn.google::before {
    content: "G";
}

.social-btn.microsoft::before {
    content: "X";
}