* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #D2D5DD;
    font-family: Arial, sans-serif;
}

.alert {
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-align: left;
    font-size: 0.9rem;
    opacity: 0.9;
}

.alert-success {
    text-align: center;
    color: rgb(0, 255, 60);
    background-color: rgba(4, 254, 62, 0.06);
    border-color: rgba(0, 255, 60, 0.8);

}

.alert-error {
    text-align: center;
    color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.06);
    border-color: rgba(255, 0, 0, 0.8);

}

.container {
    padding: 20px;
}