:root {
    --color-bg: #151515;
    --color-text: #D2D5DD;
    --color-success-text: rgb(0, 255, 60);
    --color-success-bg: rgba(4, 254, 62, 0.06);
    --color-success-border: rgba(0, 255, 60, 0.8);
    --color-error-text: rgb(255, 0, 0);
    --color-error-bg: rgba(255, 0, 0, 0.06);
    --color-error-border: rgba(255, 0, 0, 0.8);
    --color-text: #D2D5DD;
    --color-border: #8c8c8c;
    --color-border-light: #545454;
    --color-button: #ff5733;
    --color-button-hover: #e04e1f;
    --color-input-bg: #121212;
    --color-input-border: #232323;
    --color-primary: #007bff;
    --color-primary-hover: #0056b3;
    --color-shadow: rgba(0, 0, 0, 0.5);
    --color-link: #ffffff;
    --color-link-hover: underline;
    --border-radius: 4px;
    --color-subtext: #aaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: var(--color-text);
    font-family: Arial, sans-serif;
}

.alert {
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-align: left;
    font-size: 0.9rem;
    opacity: 0.9;
}

.alert-success {
    text-align: center;
    color: var(--color-success-text);
    background-color: var(--color-success-bg);
    border-color: var(--color-success-border);
}

.alert-error {
    text-align: center;
    color: var(--color-error-text);
    background-color: var(--color-error-bg);
    border-color: var(--color-error-border);
}

.container {
    padding: 20px;
}