:root {
    --color-bg: #151515;
    --color-dialog-bg: #232323;
    --color-text: #D2D5DD;
    --color-success-text: rgb(0, 255, 60);
    --color-success-bg: rgba(4, 254, 62, 0.06);
    --color-success-border: rgba(0, 255, 60, 0.8);
    --color-error-text: rgb(255, 0, 0);
    --color-error-bg: rgba(255, 0, 0, 0.06);
    --color-error-border: rgba(255, 0, 0, 0.8);
    --color-text: #ffffff;
    --color-text-hover: #ffffff;
    --color-border: #444;
    --color-border-light: #666;
    --color-button: #ff4500;
    --color-loading: #ff4500;
    --color-button-hover: #ff6347;
    --color-input-text: #ffffff;
    --color-input-bg: #121212;
    --color-input-border: #232323;
    --color-primary: #007bff;
    --color-primary-hover: #0056b3;
    --color-shadow: rgba(0, 0, 0, 0.5);
    --color-link: #ffffff;
    --color-link-hover: underline;
    --border-radius: 4px;
    --color-subtext: #aaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: var(--color-text);
    font-family: Arial, sans-serif;
}

.alert {
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-align: left;
    font-size: 0.9rem;
    opacity: 0.9;
}

.alert-success {
    text-align: center;
    color: var(--color-success-text);
    background-color: var(--color-success-bg);
    border-color: var(--color-success-border);
}

.alert-error {
    text-align: center;
    color: var(--color-error-text);
    background-color: var(--color-error-bg);
    border-color: var(--color-error-border);
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 0.7rem;
    width: 100%;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 3px 3px 0px var(--color-shadow);
    font-weight: 600;
    color: var(--color-text);
}

.submit-btn:hover {
    background-color: var(--color-primary-hover);
}

.load {
    border: 3px solid #00000025;
    border-top: 3px solid var(--color-loading);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}